<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Joke App: Spring Boot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Joke Of The Day</h1>
            <p style="color: blue; font-size: 0.8em; font-weight: bold">Keep refreshing to see other Joke</p>
            <div class="jumbotron">
                <p th:text="${joke}">This is a Joke</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>